@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@900&display=swap');
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
p{font-family: 'LINESeedKR-Rg';}

#about{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/**********************menu************************/
.menu{
    padding: 40px;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #e5e5e5;
}
.menu h2{
    font-family: 'LINESeedKR-Bd';
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 50px;
    letter-spacing: -0.05em;
}
.menu p{
    padding-bottom: 20px;
    opacity: 0.5;
}
.menu p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(3):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(4):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(5):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
#about .menu{
    padding: 40px;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #ffffff;
}
#about .menu p:nth-child(2){
    font-size: 16px;
    font-weight: 100;
    opacity: 0.7;
}
#about .menu p:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
#about .menu p:nth-child(2):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
#about .menu p:nth-child(4):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
#about .menu p:nth-child(5):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}

/**********************content************************/

#about_content{
    padding: 80px;
    display: flex;
    width: calc(100vw - 150px);
    height: 100vh;
}
#about_img{
    width: 750px;
    height: 750px;
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    position: relative;
}
#about_img h1{
    font-family: 'Hahmlet', serif;
    font-size: 4.7rem;
    position: absolute;
    top: 100px;
    left: 400px;
    line-height: 1.2;
}
#name{
    font-family: 'LINESeedKR-Rg';
    padding-top: 350px;
    padding-left: 200px;
}
#name h2:nth-child(1){
    padding-bottom: 15px;
}
#skill p{
    font-weight: 400;
}
.skill_wrap{
    width: 500px;
    height: 20px;
    background-color: #b2b2b2;
    margin-top: 40px;
    position: relative;
    border-radius: 10px;
}
.skill_wrap p:nth-child(1){
    position: absolute;
    top: -20px;
    left: 0;
}
.skill_wrap p:nth-child(2){
    position: absolute;
    top: -20px;
    right: 0;
}
.skill_base div{
    border-radius: 10px;
}
.skill_base{
    overflow: hidden;
}
#skill div:nth-child(1) .skill_move{
    width: 450px;
    height: 20px;
    background-color: #66CAAB;
    margin-left: -450px;
    animation-name: move1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}
#skill div:nth-child(2) .skill_move{
    width: 450px;
    height: 20px;
    background-color: #66CAAB;
    margin-left: -450px;
    animation-name: move1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}
#skill div:nth-child(3) .skill_move{
    width: 450px;
    height: 20px;
    background-color: #66CAAB;
    margin-left: -450px;
    animation-name: move1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}
#skill div:nth-child(4) .skill_move{
    width: 300px;
    height: 20px;
    background-color: #66CAAB;
    margin-left: -300px;
    animation-name: move2;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}
#skill div:nth-child(5) .skill_move{
    width: 350px;
    height: 20px;
    background-color: #66CAAB;
    margin-left: -350px;
    animation-name: move3;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}

@keyframes move1{
    0%{transform: translateX(0);}
    100%{transform: translateX(450px);}
}
@keyframes move2{
    0%{transform: translateX(0);}
    100%{transform: translateX(300px);}
}
@keyframes move3{
    0%{transform: translateX(0);}
    100%{transform: translateX(350px);}
}