@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@900&display=swap');
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
p{font-family: 'LINESeedKR-Rg';}

#home{
    display: flex;
    width: 100vw;
    height: 100vh;
}
/**********************menu************************/
.menu{
    padding: 40px;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #e5e5e5;
}
.menu h2{
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'LINESeedKR-Bd';
    letter-spacing: -0.05em;
}
.menu p{
    padding-bottom: 20px;
    opacity: 0.5;
}
.menu p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(3):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(4):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(5):hover{
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
}


/**********************cover************************/
#cover{
    width: calc(100vw - 150px);
    height: 100vh;
    background-color: #e5e5e5;
    padding: 60px;
    position: relative;
}
#cover video{
    width: 1200px;
    height: 763px;
    position: absolute;
    top: 130px;
    left: 285px;
}
#cover div p{
    font-size: 18px;
    font-weight: 300;
}
#cover div:nth-child(2){
    width: 1630px;
    height: 82px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 210px;
}
#cover div:nth-child(3){
    width: 1630px;
    height: 420px;
    border-right: 1px solid #000;
    margin-bottom: 50px;
}
#cover div:nth-child(4){
    width: 1630px;
    height: 82px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
}
#cover div:nth-child(4) p{
    position: absolute;
    bottom: 0;
    right: 0;
}
#cover h1{
    position: absolute;
    font-size: 100px;
    font-family: 'Sansita', sans-serif;
    color: ;
}
#cover h1:nth-child(5){
    top: 90px;
    left: 470px;
}
#cover h1:nth-child(6){
    top: 120px;
    left: 550px;
}
#cover h1:nth-child(7){
    top: 100px;
    left: 630px;
}
#cover h1:nth-child(8){
    top: 85px;
    left: 720px;
}
#cover h1:nth-child(9){
    top: 120px;
    left: 870px;
}
#cover h1:nth-child(10){
    top: 80px;
    left: 950px;
}
#cover h1:nth-child(11){
    top: 100px;
    left: 1050px;
}
#cover h1:nth-child(12){
    top: 115px;
    left: 1140px;
}
#cover h1:nth-child(13){
    top: 90px;
    left: 1220px;
}


