@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@900&display=swap');
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 16px;}
a{text-decoration: none; color: inherit;}
p{font-family: 'LINESeedKR-Rg';}

#home{
    display: flex;
    width: 100vw;
    height: 100vh;
}
/**********************menu************************/
.menu{
    padding: 40px;
    width: 150px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #e5e5e5;
}
.menu h2{
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'LINESeedKR-Bd';
    letter-spacing: -0.05em;
}
.menu p{
    height: 50px;
    opacity: 0.5;
}
.menu p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(3):hover{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(4):hover{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1;
}
.menu p:nth-child(5):hover{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1;
}


/**********************cover************************/
#cover{
    width: calc(100vw - 150px);
    height: 100vh;
    background-color: #e5e5e5;
}
#cover_wrap{
    width: 90%;
    height: 85%;
    margin: 0 auto;
    background-image: url(../images/cover_bg.gif);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center 170px;
    padding: 60px 0;
}
#cover p{
    font-size: 1.1rem;
    font-weight: 300;
}
#cover_wrap > div:nth-child(1){
    width: 100%;
    height: 82px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 210px;
}
#cover div:nth-child(2){
    width: 100%;
    height: 420px;
    border-right: 1px solid #000;
    margin-bottom: 50px;
}
#cover div:nth-child(3){
    width: 100%;
    height: 82px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
}
#cover div:nth-child(3) p{
    position: absolute;
    bottom: 0;
    right: 0;
}
#title_wrap{
    display: flex;
    width: 850px;
    height: 100px;
    margin: 0 auto;
}
#title_wrap h1{
    margin-right: 38px;
}
#title_wrap h1:nth-child(1){
    margin-top: -270px;
}
#title_wrap h1:nth-child(2){
    margin-top: -235px;
}
#title_wrap h1:nth-child(3){
    margin-top: -265px;
}
#title_wrap h1:nth-child(4){
    margin-right: 100px;
    margin-top: -280px;
}
#title_wrap h1:nth-child(5){
    margin-top: -240px;
}
#title_wrap h1:nth-child(6){
    margin-top: -280px;
}
#title_wrap h1:nth-child(7){
    margin-top: -250px;
}
#title_wrap h1:nth-child(8){
    margin-top: -210px;
}
#title_wrap h1:nth-child(9){
    margin-right: 0;
    margin-top: -260px;
}
#cover h1{
    font-size: 6.5rem;
    font-family: 'Sansita', sans-serif;
}


