@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
   font-family: 'IBMPlexSansKR-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'InkLipquid';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html.body{
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p{
   font-family: 'IBMPlexSansKR-Regular';
}
.inner{
    width: 1080px;
    margin: 0 auto;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
   text-align: center;
   color: #fff;
   font-size: 2.7rem;
   line-height: 1;
   padding-top: 100px;

}
h1 span{
   font-family: 'InkLipquid';
   font-weight: 100;
   font-size: 2.4rem;
}

 /*********header*********/

header{
    height: 765px;
    background-image: url(../images/main_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#main h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 4.7rem;
    color: #fff;
    font-weight: lighter;
    line-height: 0.9;
    padding-top: 58px;
    float: left;
}
#main h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: #fff;
    font-weight: lighter;
    float: right;
    padding-top: 69px;
}
#main > div{
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: #FF9F78;
    clear: both;
    margin: 0 auto;
}
#main h4{
    color: #fff;
    font-family: 'TTTtangsbudaejjigaeB';
    text-align: center;
    font-size: 3.5rem;
    padding-top: 120px;
}
#main h4 span{
    font-size: 4.5rem;
}
#main p{
    font-family: 'Allura',cursive;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 8rem;
    position: relative;
    top: -40px;
    transform: rotate(-8deg);
}
#main h3:last-child{
    float: right;
    margin-top: -52px;
    text-align: right;
}


#nav{
    width: 100%;
    height: 100px;
    background-color: #FF9F78;
    margin-top: -6px;
    position: relative;
    z-index: 99;
}
 #nav nav ul{
    display: flex;
    width: 100%;
 }
 #nav nav ul li{
    width: 20%;
    
 }
 #nav nav ul li a{
    width: 100%;
    display: block;
    padding: 25px 53px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
 }
 #nav nav ul li a:hover{
   color: #FBD51E;
 }

  /*********okinawa*********/

#okinawa{
   background-image: url(../images/sec02_bg.png);
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   height: 1350px;
   margin-top: -10px;
}
#okinawa > .inner > img{
   position: relative;
   top: -100px;
   left: 220px;
}
#okinawa h3{
   font-size: 1.8rem;
   color: #fff;
   font-weight: 100;
   text-align: center;
   margin-top: -20px;
}
#okinawa ul{
   display: flex;
   margin-top: 40px;
   margin-bottom: 100px;
}
#okinawa ul li{
   width: 255px;
   background-color: #fff;
   border-radius: 20px;
   margin-right: 20px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
#okinawa ul li:last-child{
   margin-right: 0;
}
#okinawa ul li img{
   padding: 10px;
}
#okinawa h4{
   font-size: 1.3rem;
   font-family: 'IBMPlexSansKR-Regular';
}
#okinawa h5{
   color: #707070;
   font-weight: 100;
   font-size: 1rem;
   margin-top: -8px;
}
#okinawa p{
   font-size: 1.1rem;
   padding: 20px 0;
   font-family: 'IBMPlexSansKR-Regular';
}

/*hotel*/

#hotel{
   height: 771px;
   background-color: #f3f3f3;
   margin-top: -7px;
}
#hotel .inner{
   position: relative;
}
#hotel h1{
   text-align: left;
   color: #51B28F;
   margin-bottom: 50px;
}
#hotel h3{
   font-weight: 100;
   font-size: 1.1rem;
   margin-top: -5px;
   margin-bottom: 10px;
}
#hotel .heart{
   position: absolute;
   top: 60px;
   left: 430px;
}
#hotel #star{
   display: flex;
}
#hotel #star h4{
   margin: 2px 0 0 5px;
}

#hotel h5{
   font-size: 1.3rem;
   margin-top: 30px;
}
#hotel #line{
   position: absolute;
   top: 330px;
   left: 130px;
}
#hotel h6{
   font-size: 1.1rem;
   font-weight: 100;
   margin-top: 10px;
}
#hotel #right_img{
   position: absolute;
   top: 90px;
   right: 0;
}
#hotel #hotels{
   position: absolute;
   top: 440px;
   left: 180px;
}
.more{
   display: flex;
   position: absolute;
   top: 410px;
   left: 400px;
}
.more > img{
   margin-top: -4px;
}
.more > p{
   font-weight: bold;
}


/*package*/
#package{
   background-image: url(../images/package_bg.png);
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   height: 1007px;
   
}
#package .inner{
   position: relative;
}
#package > .inner > img{
   position: absolute;
   top: 90px;
   left: 700px;
}
#package #pk_cont{
   display: flex;
}
#package a{
   display: block;
   padding: 30px 0;
   width: 530px;
   height: 670px;
   background-color: #fff;
   border-radius: 40px;
   margin: 50px 0;
   margin-right: 30px;
}
#package #pk_cont > div:last-child{
   margin-right: 0;
}
#package h2{
   font-size: 1.7rem;
   line-height: 1.3;
   margin-bottom: 20px;
}
#package h2 span{
   font-size: 1.3rem;
}
#package .p_img1{
   background-image: url(../images/package01.png);
   width: 490px;
   height: 298px;
   margin: 0 auto;
   border-radius: 20px;
}
#package .p_img2{
   background-image: url(../images/package02.png);
   width: 490px;
   height: 298px;
   margin: 0 auto;
   border-radius: 20px;
}
#package h3{
   color: #58A1E4;
   font-weight: 100;
   font-size: 1.2rem;
   margin-top: 5px;
}
#package h4{
   font-size: 1.4rem;
   margin: 30px 0;
}
#package h5{
   color: #F33F34;
   font-size: 2rem;
}
#package h5 span{
   font-size: 1.2rem;
   color: #000;
   margin-left: 5px;
}
#package #pk_cont .more2{
   position: relative;
}
#package #pk_cont .more2 > p{
   font-size: 1.2rem;
   color: #8D8D8D;
   font-weight: bold;
   position: absolute;
   left: 380px;
}
#package #pk_cont .more2 > img{
   position: absolute;
   top: 7px;
   left: 480px;
}

/***********hover************/


#package a:hover{
   box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
   
}
#package a:hover h2{
   color: #2371ca;
}
#package a:hover .p_img1{
   background-size: 105%;
   background-position: center;
}
#package a:hover .p_img2{
   background-size: 105%;
   background-position: center;
}




/*event*/
#event{
   background-color: #FFDBCC;
   padding-bottom: 50px;
}
#event .inner{
   position: relative;
}
#event .heart{
   position: absolute;
   top: 60px;
   left: 590px;
}
#event li{
   width: 893px;
   height: 250px;
   margin: 50px auto;
   background-color: #fff;
   border-top-left-radius: 250px;
   border-bottom-left-radius: 250px;
   position: relative;
   padding: 0 15px;
}
#event li img{
   position: absolute;
   left: -20px;
   top: -4px;
}
#event li h2{
   color: #FFDBCC;
   font-size: 2.3rem;
   text-align: right;
}
#event li h3{
   font-size: 1.8rem;
   padding-left: 260px;
   padding-top: 15px;
   font-weight: 500;
}
#event li p{
   font-size: 1.3rem;
   padding-left: 260px;
   line-height: 1.2;
}
#event li:nth-child(2){
   border-top-right-radius: 250px;
   border-bottom-right-radius: 250px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}
#event li:nth-child(2) img{
   position: absolute;
   left: 630px;
}
#event li:nth-child(2) h2{
   text-align: left;
}
#event li:nth-child(2) h3{
   padding-left: 60px;
}
#event li:nth-child(2) p{
   padding-left: 60px;
}
#event span{
   font-weight: bold;
}
#event  #box1{
   background-color: #F5B9A1;
   width: 331px;
   height: 23px;
}

/*********mode**********/
#mode{
   background-color: #f1f1f1;
   padding-bottom: 100px;
}

#mode h2{
   font-size: 2.3rem;
   text-align: center;
   padding-top: 80px;
   padding-left: 50px;
}
#mode .inner{
   position: relative;
}
#mode .heart{
   position: absolute;
   top: 75px;
   left: 275px;
}
#mode ul li{
   width: 896px;
   height: 92px;
   margin: 0 auto;
   background-color: #fff;
   margin-top: 50px;
   position: relative;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
#mode ul li img{
   position: absolute;
   top: 25px;
   left: 80px;
}
#mode ul li h3{
   font-size: 1.7rem;
   font-weight: 500;
   padding: 23px 0 0 200px;
}
#banner{
   width: 100%;
   height: 150px;
   background-image: url(../images/bn_bg.png);
}
#banner .inner{
   position: relative;
}
#banner .emoji{
   padding-top: 16px;
}
#banner h3{
   margin-top: -110px;
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
}
#banner span{
   font-weight: bold;
}
#banner .talk{
   position: absolute;
   top: 20px;
   right: 200px;
}
#banner .inner > div{
   display: flex;
   position: absolute;
   right: 0;
}
#banner .inner > div p{
   color: #FBD51E;
   font-weight: 500;
   font-size: 1.3rem;
   padding-top: 1px;
}

/*****rcmd**********/

#rcmd .inner{
   position: relative;
   height: 1000px;
}
#rcmd h1{
   color: #000;
   padding-bottom: 80px;
}
#rcmd .rcmd_slide{
   width: 830px;
   height: 332px;
   margin: 0 auto;

}
.rcmd_slide div{
   
}
.rcmd_slide div a{
   display: block;
   text-align: center;
   margin-right: 20px;
   width: 257px;
   height: 332px;
   background-color: #f0f0f0;
}
.rcmd_slide div a h3{
   margin-top: 10px;
}
.rcmd_slide div a h4{
   color: #707070;
   font-weight: 100;
}



#pop{
   position: fixed;
   bottom: 80px;
   left: calc(100% / 2);
   transform: translateX(-50%);
   z-index: 999;
}
#pop a{display: block;}
#pop h3{
   background-color: #FF9F78;
   width: 430px;
   height: 130px;
   border-radius: 150px;
   color: #fff;
   font-size: 1.7rem;
   font-family: 'TTTtangsbudaejjigaeB';
   text-align: center;
   padding-top: 25px;
   line-height: 1.3;
   position: relative;
}
#pop h3 span{
   font-size: 2.5rem;
   font-weight: bold;
}
#pop img{
   position: absolute;
   top: -10px;
   right: -100px;
}



@media (max-width:750px) {
   .inner{
      width: 700px;
      margin: 0 auto;
   }
  #main h3{
   padding-top: 68px;
   font-size: 4rem;
   }
   #main h3:nth-child(4){
      padding-top: 77px;
   }
   #main h2{
      padding-top: 69px;
   }
   header{
      height: 765px;
   }
   #nav{
      width: 100%;
      height: 100px;
      background-color: #FF9F78;
      margin-top: -16px;
      position: relative;
      z-index: 99;
   }
   #nav nav ul{
      display: flex;
      width: 100%;
   }
   #nav nav ul li{
      width: 20%;
      
   }
   #nav nav ul li a{
      width: 100%;
      display: block;
      padding: 28px 0;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
   }
   #nav nav ul li a:hover{
   color: #FBD51E;
   }

   /* okinawa */

   #okinawa{
      height: 2450px;
      background-size: cover;
      background-position: center -20px;
   }
   #okinawa ul{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
   }
   #okinawa ul li{
      width: 48%;
      margin-right: 4%;
      margin-bottom: 20px;
   }
   #okinawa ul li:nth-child(2n){
      margin-right: 0;
   }
   #okinawa ul li img{
      padding: 15px;
      width: 325px;
   }
   #okinawa h4{
      font-size: 1.3rem;
   }
   #okinawa h5{
      color: #707070;
      font-weight: 100;
      font-size: 1rem;
      margin-top: -8px;
   }
   #okinawa p{
      font-size: 1.1rem;
      padding: 20px 0;
   }

   /*hotel*/

#hotel{
   height: 1150px;
   margin-top: -40px;
}
#hotel #line{
   top: 335px;
}
#hotel #right_img{
   position: absolute;
   top: 500px;
   right: 0;
   width: 500px;
}
#hotel #hotels{
   display: block;
}
#hotel #hotels{
   top: 630px;
   left:10px;
}
#hotel #hotels img{
   display: block;
   width: 180px;
}
.more{
   top: 475px;
   left: 580px;
}

/*package*/
#package{
   background-position: center center;
   background-size: cover;
   height: 1900px;
}
#package > .inner > img{
   left: 500px;
}
#package #pk_cont{
   display: block;
}
#package a{
   width: 530px;
   height: 670px;
   border-radius: 40px;
   background-color: #fff;
   margin: 100px 0;
   margin-left: 85px;
}



/*event*/

#event .heart{
   left: 410px;
}
#event li{
   width: 100%;
   height: 200px;
   position: relative;
   padding: 0 15px;
}
#event li img{
   position: absolute;
   width: 225px;
   left:  -14px;
   top: -5px;
}
#event li h2{
   font-size: 2rem;
   text-align: right;
}
#event li h3{
   font-size: 1.5rem;
   padding-left: 220px;
   padding-top: 15px;
   font-weight: 500;
}
#event li p{
   font-size: 1.2rem;
   padding-left: 220px;
   padding-top: 5px;
   line-height: 1.2;
}
#event li:nth-child(2) img{
   position: absolute;
   left: 488px;
}
#event span{
   font-weight: bold;
}
#event li:nth-child(3) p{
   font-size: 1rem;
}
#event li:nth-child(3) h3{
   padding-top: 0;
}
/*********mode**********/


#mode ul{
   margin-top: 50px;
}
#mode .heart{
   position: absolute;
   top: 75px;
   left: 80px;
}
#mode ul li{
   width: 100%;
   height: 80px;
   margin: 0 auto;
   background-color: #fff;
   margin-top: 40px;
   position: relative;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
#mode ul li h3{
   font-size: 1.5rem;
   font-weight: 500;
   padding: 23px 0 0 180px;
}
#mode ul li img{
   top: 20px;
}




#banner{
   height: 150px;
}

#banner .inner{
   position: relative;
}
#banner .emoji{
   padding-top: 16px;
}
#banner h3{
   margin-top: -100px;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 500;
}
#banner .talk{
   right: 40px;
}
#banner .inner > div{
   position: absolute;
   right: 0;
   top: 110px;
}

/*****rcmd**********/
#rcmd .inner{
   height: 900px;
}
#rcmd .rcmd_slide{
   width: 700px;
   height: 332px;
   margin: 0 auto;

}
.rcmd_slide div a{
   width: 220px;
   height: 300px;
   background-color: #f0f0f0;
}
.rcmd_slide div a img{
   width: 220px;
}

}