*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 100%;
}
.inner{
    width: 1000px;
    margin: 0 auto;
}
html{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/**************************header***************************/
header{
    height: 85px;
    position: relative;
}
header img{
    margin: 25px 0;
    float: left;
    position: relative;
}
header nav li{
    float: left;
    list-style-type: none;
    padding: 0 20px;
}
header nav a{
    color: #696e71;
    font-size: 1.1rem;
}
header nav{
    float: right;
    margin: 35px 0 25px 0;
}

/*********************section01***************************/
#sec01{
    background-image: url(../images/back_head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 800px;
    min-width: 1000px;
    height: 755px;
}
#sec01 h2{
    clear: both;
    color: #0d4775;
    text-align: center;
    font-size: 3.5rem;
    line-height: 1;
    padding-top: 45px;
}
#sec01 h2 span{
    font-weight: 300;
}
#sec01 h3{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 35px 0;
}
#sec01 p{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}
/**********************section02**************************/
#sec02 .inner{
    background-image: url(../images/back_slide.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 429px;
    margin-top: -400px;
}
#sec02 ul li{
    float: left;
    padding-top: 5px;
}
#sec02 ul li:first-child{
    padding-left: 35px;
}
#sec02 ul li:nth-child(2), #sec02 ul li:nth-child(4){
    position: relative;
    top: 185px;
    left: 18px;
}
#sec02 ul li:nth-child(3){
    position: relative;
    left: 17px;
}
#sec02 ul li:nth-child(5){
    position: relative;
    left: 26px;
    top: 2px;
}
/**********************section03****************************/
#sec03 img{
    width: 1000px;
    padding-bottom: 80px;
}
#sec03{
    clear: both;
    padding: 80px 0;
    height: 710px;
}
#sec03 a{
    display: block;
    color: #565457;
    text-align: center;
}
#sec03 ul li{
    float: left;
    width: 326px;
    height: 207px;
    margin-right: 11px;
    margin-bottom: 9px;
}
#sec03 ul li:nth-child(3), #sec03 ul li:last-child{
    margin-right: 0;
}
#sec03 #menu1{
    background-image: url(../images/img_07.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#sec03 #menu2 h5{
    font-size: 1.1rem;
    border: 3px solid #206bae;
    padding-top: 5px;
    margin-left: 53px;
    width: 215px;
    height: 42px;
}
#sec03 #menu2 p{
    width: 200px;
    margin-left: 53px;
    margin-top: 30px;
}
#sec03 #menu3{
    background-image: url(../images/img_09.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#sec03 #menu4{
    background-image: url(../images/img_13.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#sec03 #menu5{
    background-image: url(../images/img_15.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#sec03 #menu6{
    background-image: url(../images/img_17.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#sec03 h5{
    margin: 30px 0 10px 0;
    font-size: 1.3rem;
}
#sec03 p{
    font-weight: 400;
    font-size: 0.9rem;
}
/**********************section04****************************/
#sec04 h2{
    width: 239px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#sec04 .news{
    width: 313px;
    height: 140px;
    float: left;
    border-top: 3px solid #000;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}
#sec04 #last{
    margin-right: 0;
}
#sec04 h6{
    color: #6b6a70;
    font-size: 1.3rem;
    float: left;
}
#sec04 ul{
    float: right;
}
#sec04 ul li{
    list-style-type: square;
    color: #6b6a70;
}
#sec04 ul li a{
    font-size: 0.8rem;
    color: #6b6a70;
}
#sec04 #point{
    margin: 0 auto;
    width: 163px;
}
#sec04 #ph{
    float: right;
}
#sec04 #card{
    position: relative;
    left: 65px;
}
#sec05{
    background-image: url(../images/footer.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 312px;
    height: 550px;
}
/**********************footer****************************/
footer{
    background-color: #fbf9ec;
    padding: 40px 0;
}
footer h6{
    width: 160px;
    height: 60px;
    margin: 0 auto;
    color: #b1b2ac;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #b1b2ac;
    padding: 10px 0;
}
footer ul{
    width: 590px;
    height: 20px;
    margin: 0 auto;
    margin-top: 40px;
}
footer ul li{
    float: left;
    margin-right: 25px;
}
footer ul li:last-child{
    margin-right: 0;
}
footer ul li a{
    color: #b1b2ac;
    font-weight: 700;
    font-size: 0.9rem;
    
}
footer p{
    clear: both;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #b1b2ac;
    text-align: center;
    font-weight: 300;
    line-height: 1.8;
}

body{
    background-image: url(../images/back_body.jpg);
    background-position: center 400px;
    background-repeat: no-repeat;
    background-size: 100% 2340px;
}